/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Custom PROPERTIES */
:root {
  --primary-color: #0084fd;
  --primary-light-color: #b5ddff;
  --secondary-color: #9792e4;

  --margin-top-large: 100px;
  --margin-bot-large: 100px;

  --padding-large: 100px;
  --padding-top-large: 100px;
  --padding-bot-large: 100px;
}

/* Generics */
body {
  font-family: "PT Sans", sans-serif;
  margin-top: 120px;
}

h3 {
  color: #0084fd;
  font-size: 22px;
  padding-bottom: 2rem;
}

h4 {
  color: #0084fd;
  font-size: 22px;
  padding-bottom: 2rem;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

section {
  margin: 100px 0;
}

/* Utilties */
.conteiner {
  max-width: 1140px;
  margin: 0 auto;
}

.debug {
  border: 2px dotted red;
}

.marg-top-l {
  margin-top: var(--margin-bot-large);
}

.marg-bottom-l {
  margin-bottom: var(--margin-bot-large);
}

.pad-top-l {
  padding-top: var(--padding-top-large);
}

.pad-bottom-l {
  padding-bottom: var(--padding-bot-large);
}

/* #HEADER */

header {
  position: relative;
}

.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .conteiner .nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar .conteiner .nav ul li {
  padding: 10px;
}

.navbar .conteiner .nav ul li .btn {
  padding: 10px 16px;
  background-color: white;
  border-radius: 20px;
  color: black;
}

.navbar .conteiner #hamburger {
  display: none;
  font-size: 32px;
}

/* #MAIN */

/* section characteristics */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
}

.characteristics-items {
  border-radius: 25px;
  background-color: var(--primary-light-color);
  flex-basis: calc(100% / 3 - 17px);
  padding: 30px;
  display: flex;
  text-align: center;
}

.items-2x {
  flex-basis: calc(2 * (100% / 3) - 17px);
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: left;
}

.btn-highlighted {
  background-color: #0084fd;
  padding: 10px 24px;
  border-radius: 20px;
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin: 15px 0;
  display: inline-block;
}

.phone {
  max-width: 100%;
  align-self: flex-end;
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn {
  font-size: 64px;
  color: #0084fd;
  margin-bottom: 20px;
}

/* section strategic planning */
.strategic-planning {
  background-color: var(--secondary-color);
  color: white;
  padding: 40px;
}

.strategic-content,
strategic-item {
  flex-basis: 50%;
}

.strategic-content h2,
.strategic-content p {
  text-align: left;
}

.development {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 20px;
  margin: 0 60px;
  align-self: flex-end;
}

.strategic-item .development h4 {
  color: black;
}

.development img {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.development .down {
  color: black;
  background-color: var(--secondary-color);
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin-top: 20px;
}

.strategic-planning .row {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.strategic-planning .strategic-planning h4 {
  color: white;
}

.strategic-item {
  flex-basis: 50%;
  color: white;
}

.strategic-item h3 {
  flex-basis: 50%;
  color: white;
}

/* section testimonial */
.testimonial {}

.testimonial .testimonial-items {
  background-color: var(--secondary-color);
  border-radius: 50px;
  flex-basis: 100%;
  gap: 20px;
}

.testimonial-header h2 {
  font-size: 48px;
  color: var(--secondary-color);
}

.testimonial-header p {
  margin-bottom: 30px;
}

.testimonial-items {
  display: flex;
  align-items: center;
  padding: 20px;
}

.testimonial-left {
  flex-basis: 200px;
}

.testimonial-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-img img {
  object-fit: cover;
  height: 200px;
}

.testimonial-right {
  flex-basis: 80%;
}

.testimonial-right p {
  text-align: left;
  margin-bottom: 20px;
  color: white;
  font-style: normal;
}

.fa-quote-left,
.fa-quote-right {
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

/* section benefit */
.benefit .benefit-items {
  background-color: white;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-basis: calc(100% / 3 - 17px);
  padding: 40px;
}

.benefit .benefit-items h2 {
  text-align: left;
  color: var(--secondary-color);
  font-size: 48px;
  padding-bottom: 20px;
}

.benefit .benefit-items h3 {
  text-align: left;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.benefit .benefit-items p {
  color: black;
  text-align: left;
  padding-bottom: 40px;
}

.benefit .benefit-items a {
  color: white;
  background-color: var(--secondary-color);
  text-align: left;
  padding: 10px 30px;
  border-radius: 20px;
  letter-spacing: 0.4rem;
}

.benefit {
  background-color: var(--secondary-color);
  color: white;
  padding: 40px 0;
}

/* section about */
.about {
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.about-items {
  position: relative;
}

.about-items h2 {
  text-align: left;
  font-size: 48px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.about-items p {
  text-align: left;
  margin-bottom: 20px;
}

.col-large {
  flex-basis: calc(70% - 17px);
}

.col-small {
  flex-basis: calc(30% - 17px);
}

.col-small h3 {
  text-align: left;
  color: var(--secondary-color);
}

.col-small a {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  color: white;
  border-radius: 20px;
}

.fa-linkedin {
  padding: 0px 5px;
}

.about-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.about-items .fa-quote-left {
  color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 60px;
  font-size: 64px;
}

/* Footer */

.footer-top {
  background-color: var(--secondary-color);
  height: 400px;
  padding: 40px 0;
}

.footer-top {
  color: white;
}

.footer-top h2 {
  color: #fdc15f;
  font-size: 64px;
}

.footer-top h3 {
  color: white;
  font-size: 28px;
}

.footer-top a {
  background-color: white;
  color: var(--secondary-color);
  padding: 10px 40px;
  font-size: 24px;
  margin: 20px;
  display: inline-block;
  border-radius: 40px;
}

.footer-bottom {
  background-color: #333333;
  height: 100px;
  padding: 20px 0;
  color: white;
}

/* #RESPONSIVE */
@media screen and (max-width: 992px) {
  .conteiner {
    max-width: 980px;
    margin: 0 40px;
  }

  .nav {
    display: none;
  }

  .navbar .conteiner #hamburger {
    display: inline;
  }

  .navbar .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .strategic-planning .row {
    display: block;
  }

  .strategic-planning .row .strategic-content {
    margin: 40px 0;
  }

  .strategic-planning .row .development {
    background-color: white;
    color: black;
    border-radius: 20px;
  }

  .strategic-planning .row .strategic-content h2 {
    font-size: 56px;
    margin-bottom: 40px;
  }

  .development {
    margin: 0;
  }

  .benefit .benefit-items {
    flex-basis: calc(100% / 2 - 17px);
    padding: 40px;
  }
}

@media screen and (max-width: 576px) {
  .conteiner {
    max-width: 520px;
    margin: 0 auto;
  }

  .characteristics-items {
    flex-basis: 100%;
  }

  .items-2x {
    display: block;
  }

  .items-2x img {
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  .strategic-planning .row .strategic-content h2 {
    font-size: 38px;
    margin-bottom: 40px;
    text-align: center;
  }

  .testimonial-items {
    display: block;
    text-align: center;
    padding: 50px;
  }

  .testimonial-img {
    margin: 0 auto;
  }

  .testimonial-right p {
    text-align: center;
    font-size: 26px;
  }

  .benefit .benefit-items {
    flex-basis: calc(100% / 1 - 17px);
    padding: 40px;
  }

  .col-small {
    flex-basis: calc(70% - 17px);
  }

  .footer-top {
    padding: 40px 40px;
    height: 650px;
  }

  .footer-bottom {
    height: 240px;
    padding: 20px 20px;
  }

  .col-small h3 {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
  }

  .testimonial-img {
    margin-bottom: 30px;
  }

  .col-large {
    flex-basis: calc(100% - 17px);
  }

  h4,
  h3 {
    font-size: 36px;
    padding-bottom: 1rem;
  }

  p {
    font-size: 28px;
  }

  .strategic-content h2,
  .strategic-content p {
    text-align: center;
  }

  .testimonial-header h2 {
    margin-bottom: 24px;
  }

  section {
    margin: 60px 0;
  }

  .footer-top a {
    padding: 20px 40px;
    font-size: 36px;
    display: block;
    border-radius: 40px;
  }

  .col-small a {
    padding: 20px 20px;
    font-size: 26px;
    display: block;
  }

  .benefit .benefit-items a {
    padding: 10px 30px;
    letter-spacing: 0.4rem;
    font-size: 26px;
    display: block;
    text-align: center;
    border-radius: 25px;
  }

  .btn-highlighted {

    display: block;
    font-size: 26px;
  }
}