/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --primary-color: #0084fd;
    --primary-light-color: #b5ddff;
    --secondary-color: #9792e4;


    --margin-top-large: 100px;
    --margin-bot-large: 100px;

    --padding-large: 100px;
    --padding-top-large: 100px;
    --padding-bot-large: 100px;
}




/* Generics */
body {
    font-family: 'PT Sans', sans-serif;
    margin-top: 120px;
}

h3 {
    color: #0084fd;
    font-size: 22px;
    padding-bottom: 2rem;
}

h4 {
    color: #0084fd;
    font-size: 22px;
    padding-bottom: 2rem;
}

p {
    line-height: 2.0rem;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

section {
    margin: 100px 0;
}

/* Utilties */
.conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.debug {
    border: 2px dotted red;
}

.marg-top-l {
    margin-top: var(--margin-bot-large);
}
.marg-bottom-l {
    margin-bottom: var(--margin-bot-large);
}
.pad-top-l {
    padding-top: var(--padding-top-large);
}
.pad-bottom-l {
    padding-bottom: var(--padding-bot-large);
}



/* #HEADER */

header {
    position: relative;
}

.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar .conteiner {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 100%;
    }

.navbar .conteiner .nav {
    
}

.navbar .conteiner .nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
}
.navbar .conteiner .nav ul li {
    padding: 10px;
}

.navbar .conteiner .nav ul li .btn {
    padding: 10px 16px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.navbar .conteiner #hamburger {
    display: none;
    font-size: 32px;
}



/* #MAIN */

/* section characteristics */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
}

.characteristics-items {
    border-radius: 25px;
    background-color: var(--primary-light-color);
    flex-basis: calc(100% / 3 - 17px);
    padding: 30px;
    display: flex;
    text-align: center;
}

.items-2x {
    flex-basis: calc(2 *(100% / 3) - 17px);
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: left;
}

.btn-highlighted {
    background-color:#0084fd;
    padding: 10px 24px;
    border-radius: 20px;
    letter-spacing: 0.4rem;
    font-weight: 700;
    margin: 15px;
    display: inline-block;
}


.phone {
    max-width: 100%;
    align-self: flex-end;
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn
{
    font-size: 64px;
    color: #0084fd;
    margin-bottom: 20px
}


/* section strategic planning */
.strategic-planning,
.benefit {
    height: 930px;
    background-color: var(--secondary-color);
}

.strategic-planning .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

.strategic-item {
    flex-basis: 50%;
}

/* section testimonial */
.testimonial {
}

.testimonial .testimonial-items {
    height: 280px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    margin: 50px 0;
    flex-basis: 100%;

}
/* section benefit */
.benefit .benefit-items {
    height: 280px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    margin: 50px 0;
    border: 2px solid red;
    flex-basis: calc(100% / 3 - 17px);
}

/* section about */
.about {
    height: 800px;
}


.col-large {
    flex-basis: calc(70% - 17px);
}
.col-small {
    flex-basis: calc(30% - 17px);
}



/* Footer */
.footer {
    margin: 100px 0;
    
}
.footer-top {
    background-color: var(--secondary-color);
    height: 600px;

}
.footer-bottom {
    background-color:#333333;
    height: 200px;
}


/* #RESPONSIVE */
@media screen and (max-width: 992px) {
    .conteiner {
    max-width: 980px;
    margin: 0 auto;
}
    .nav {
        display: none;
    }
    .navbar .conteiner #hamburger {
    display:inline;
    }
    .navbar .conteiner {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 100%;
        padding: 0 20px;
    }

}





@media screen and (max-width: 576px) {
    .conteiner {
    max-width: 480px;
    margin: 0 auto;
}
    .characteristics-items
    {
    flex-basis: 100%;  
    }
    
    .items-2x {
    display: block;     
    }
    .items-2x img {
    display: block;
    width: 60%; 
    margin: 0 auto;
    }
}